:root {
  /** Ionic Primary Colors */
  --ion-color-primary: #335C67;
  --ion-color-primary-rgb: 51, 92, 103;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2d515b;
  --ion-color-primary-tint: #476c76;

  --ion-color-secondary: #FFF3B0;
  --ion-color-secondary-rgb: 255, 243, 176;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0d69b;
  --ion-color-secondary-tint: #fff4b8;

  --ion-color-tertiary: #E09F3E;
  --ion-color-tertiary-rgb: 224, 159, 62;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #c68c36;
  --ion-color-tertiary-tint: #e4a952;

  --ion-color-success: #9E2A2B;
  --ion-color-success-rgb: 158, 42, 43;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #8b2526;
  --ion-color-success-tint: #a83f40;

  --ion-color-warning: #540B0E;
  --ion-color-warning-rgb: 84, 11, 14;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #4a0a0c;
  --ion-color-warning-tint: #652326;
}
